**/.vs
**/nbproject/private/
**/dist/
**/build/
**/lib/
**/.deps/
**/.libs/
.idea/
*.bk
**/Makefile.in
**/Makefile
**/*.la
**/*.lo
**/config.log
**/config.status
**/config.sub
**/config.guess
**/aclocal.m4
compile
configure
install-sh
libtool
ltmain.sh
missing
**/test-driver
**/*.swp
**/autom4te.cache/
**/depcomp
.DS_Store
.vscode/
**/__pycache__/
*~
